/********************Login page image************************************************/
.responsive{
  object-fit: cover;
  width: 300px;
  height:600px;
}

/********************General Styling To Augment Materialize*****************************/
.input-field>label{
  font-size: 1.6rem;
  padding-left: 5px;
}
.input-pad{
  padding-left: 10px; 
  padding-right: 10px;
}
nav ul a{
  font-size: 1.2rem;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 10px;
}
.icon-shift{
    padding-top: 0px;
    padding-left:5px;

}
.logo-shift{
  margin-left: 5px;
}
nav .brand-logo{
  padding-top: 10px;
}
.capitalize {
  text-transform: capitalize;
}
body {
  background-color:lightyellow;
}
/*modify Materialize radio button default colour*/
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
  background-color:mediumblue;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
  border: 2px solid blue;
}
[type="radio"]:not(:checked)+span, [type="radio"]:checked+span {
  font-size: 1.2rem;
}
.btn-large{
  margin: 10px;
}
.collapsible-header i {
  text-align: left;
}
.card .card-content{
  padding: 5px; /* changes Materialize card padding from 28px to 5px*/
}
@media only screen and (min-width: 0) {html
  {
  font-size: 16px; /* changes Materialize card font size at min screen width from 14px to 16px*/
}}
.select-wrapper input.select-dropdown{
  font-size: 20px;
  height:4rem;
}
.btn, .btn-large, .btn-small {
letter-spacing: 0px;
}
.sm-btn-add{
  min-width: 70px;
  border-radius: 5px;
}
.lg-btn-add{
  min-width: 150px;
  border-radius: 5px; 
}
.email-cell{
  max-width: 100px; 
  overflow:hidden;
}
.center-button{
  text-align: center;
}
.del-card{
  margin-left: 50px
}

/****************************Collapsable Body******************************/
table.dataTable thead th, table.dataTable thead td, table.dataTable tbody td, table.dataTable tfoot th {
  padding-left: 2px; 
  padding-right: 2px;
  font-size: 14px;
}

/****************************Usage Report Charts******************************/
.plot-scale{
  width: 100%;
  height: auto;
}

/****************************** Card Content***********************************/
.card .card-title{
  font-weight: 700;
}
.cardInput{
  height:4rem;
  font-size: 20px;
}
.del-card-ul{
  text-align:left;
  margin-left: 20px;
}
.del-card-item{
  width:80%;
}
.del-card-add{
  margin-left: 20px;
}
.reglog{
  font-size: larger;
  font-weight: bold;
}

/*********************************Nav Bar Augments Materialize CSS**********************/
nav .nav-title {
  padding-top: 60px;
}
.fab, .far {
  font-size: 40px;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  padding-top: 20px;
}
.rm-padding{
  padding-top: 0px;
}

/*********************************Table **********************/
.tblwd{
  width:100%;
}