{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m10 offset-m1">
        <div class="card blue lighten-3">
            <div class="card-content black-text">
                {% if mode == "update" %}    
                    <span class="card-title">Update Source</span>
                    <form>
                {% elif mode =="delete" %}
                    <span class="card-title">Delete Source</span>
                    <form>
                {% elif mode =="request" %}
                    <span class="card-title">Request Source</span>
                    <form>        
                {% else %}
                    <span class="card-title">Add Source</span>
                    <form method="POST"action="{{ url_for('add_source')}}" id="addsource" class="form-horizontal">  
                {% endif %}
                    <div class="row">
                        <div class="input-field col l4">
                            <input id="serial_number" name="serial_number" type="text" class="validate"
                            {% if mode == "update" or mode =="delete" %}  
                                value ="{{existing_source.serial_number}}"
                            {% endif %}>
                            <label for="serial_number">Serial Number</label>
                        </div>
                        <div class="input-field col l4">
                            <input id="department" name="department" type="text" class="validate" list="department"
                            {% if mode == "update" or mode =="delete "%}  
                                value ="{{existing_source.department}}"
                            {% endif %}>
                            <label for="department">Department</label>
                        </div>
                        


                        <div class="input-field col l4">
                            <input id="laboratory" name="laboratory" type="text" class="validate"
                            {% if mode == "update" or mode =="delete "%}  
                                value ="{{existing_source.laboratory}}"
                            {% endif %}>
                            <label for="laboratory">Laboratory</label>
                        </div>
                            <input id="location" name="location" type="text" class="validate"
                            {% if mode == "update" or mode =="delete" %}  
                                value ="{{existing_source.location}}"
                            {% endif %}>
                            <label for="location">Location</label>
                        </div-->
                    </div>
                    <div class="row">
                        <div class="input-field col l4">
                            <input id="isotope" name="isotope" type="text" class="validate"
                            {% if mode == "update" or mode =="delete" %}  
                                value ="{{existing_source.isotope}}"
                            {% endif %}>
                            <label for="isotope">Isotope</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="half_life" name="half_life" type="text" class="validate"
                            {% if mode == "update" or mode =="delete" %}  
                                value ="{{existing_source.half_life}}">
                            {% endif %}>
                            <label for="half_life">Half Life</label>
                        </div>

                        <div class="input-field col s4">
                            <p>
                                <label>
                                    <input name="half_life_units" value = "years" type="radio" 
                                    {% if mode == "update"or mode =="delete" %} 
                                        {% if existing_source.half_life == "years" %}
                                            checked
                                        {% endif%}
                                    {% endif %}
                                    checked >
                                    <span>Years</span>
                                </label>
                                <label>
                                    <input name="half_life_units" value = "days" type="radio" 
                                    {% if mode == "update" or mode =="delete" %} 
                                        {% if existing_source.half_life == "days" %}
                                            checked
                                        {% endif%}
                                    {% endif %}>
                                    <span>Days</span>
                                </label>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col l4 s8 m4">
                            <input id="original_activity" name="original_activity" type="text" class="validate">
                            <label for="original_activity">Original Activity</label>
                        </div>
                        <div class="input-field col l2 s4 m4">
                            <p>
                                <label>
                                    <input name="original_activity_units"  value="kBq" type="radio" checked />
                                    <span>kBq</span>
                                </label>
                                <label>
                                    <input name="original_activity_units" value="MBq" type="radio" />
                                    <span>MBq</span>
                                </label>
                            </p>
                        </div>
                        <div class="input-field col l4 s12 m4">
                            <input type="text" id="activation_date" name="activation_date" class="datepicker">
                            <label for="activation_date">Activation Date</label>
                        </div>
                    </div>

                    <div>
                        <p class= "form-adhoc"> Encapsulation</p>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <p>
                                <label>
                                    <input name="encapsulation" value="alpha disk" type="radio" checked " />
                                    <span>Alpha disk</span>
                                </label>
                                <label>
                                    <input name="encapsulation" value="beta disk" type="radio" />
                                    <span>Beta disk</span>
                                </label>
                                <label>
                                    <input name="encapsulation" value ="gamma disk" type="radio" />
                                    <span>Gamma disk</span>
                                </label>
                                <label>
                                    <input name="encapsulation" value = "alpha capsule " type="radio" checked />
                                    <span>Alpha capsule</span>
                                </label>
                                <label>
                                    <input name="encapsulation" value ="beta capsule " type="radio" />
                                    <span>Beta capsule</span>
                                </label>
                                <label>
                                    <input name="group3" value = "gamma capsule" type="radio" />
                                    <span>Gamma capsule</span>
                                </label>
                            </p>
                        </div>
                    </div>
                    <!--button class="btn waves-effect waves-light" type="submit" name="action"-->
                    {% if mode == "update" %}
                        <button class="btn-large waves-effect waves-light" type="submit" name="action">    
                        Update <i class="fas fa-cloud-upload-alt"></i>
                    {% elif mode == "delete" %}
                        <a href="{{ url_for('del_source_conf', source_serial_no=existing_source.serial_number) }}"  class="btn-large deep-orange accent-3">  
                        Delete <i class="fas fa-cloud-upload-alt"></i></a>
                    {% elif mode == "Request" %}
                        <a href="{{ url_for('req_source_conf', source_serial_no=existing_source.serial_number) }}"  class="bt-large deep-orange accent-3">  
                        Request <i class="fas fa-cloud-upload-alt"></i></a>
                    {% else %}
                        <button class="btn-large deep-orange accent-3" type="submit" name="action">
                        Add <i class="fas fa-cloud-upload-alt"></i>
                        </button>
                    {% endif %}
                       
                    <button class="btn-large deep-green accent-3" onClick="window.location.reload(true)">Clear
                        <i class="fas fa-trash-restore-alt"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}