{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12 m12 l10 offset-l1">
        <div class="card blue lighten-3">
            <div class="card-content black-text">
                <span class="card-title">Delete Source</span>
                <!--Build up form row by row-->
                <form>
                    <div class="card white black-text">
                        <div class="row">
                            <div class="col l3 m6 s12">
                                <h6 class="del-card-ul">Serial Number: </h6>
                                <p class="card-mod">{{ existing_source.serial_number }}
                                </p>
                                <hr class="del-card-ul del-card-item ">
                            </div>

                            <div class="col l3 m6 s12">
                                <h6 class="del-card-ul">Department: </h6>
                                <p class="card-mod">{{ existing_source.department }}</p>
                                <hr class="del-card-ul del-card-item ">
                            </div>
                            <div class="col l3 m6 s12">
                                <h6 class="del-card-ul">Laboratory: </h6>
                                <p class="card-mod">{{ existing_source.laboratory }}</p>
                                <hr class="del-card-ul del-card-item ">
                            </div>
                            <div class="col l3 m6 s12">
                                <h6 class="del-card-ul">Location: </h6>
                                <p class="card-mod">{{ existing_source.location }}</p>
                                <hr class="del-card-ul del-card-item ">
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col l3 s12 m6">
                                <h6 class="del-card-ul">Isotope: </h6>
                                <p class="card-mod">{{ existing_source.isotope }}</p>
                                <hr class="del-card-ul del-card-item ">
                            </div>
                            <div class="col l3 s12 m6">
                                <h6 class="del-card-ul">Original Activity: </h6>
                                <p class="card-mod">{{existing_source.original_activity}}
                                    {{existing_source.original_activity_units}}</p>
                                <hr class="del-card-ul del-card-item ">
                            </div>
                            <div class="col l3 s12 m6">
                                <h6 class="del-card-ul">Activation Date: </h6>
                                <p class="card-mod">{{ existing_source.activation_date }}
                                </p>
                                <hr class="del-card-ul del-card-item ">
                            </div>
                            <div class="col l3 s12 m6">
                                <h5 class="del-card-ul">Half Life: </h5>
                                <p class="card-mod">{{existing_source.half_life}}
                                    {{existing_source.half_life_units}}</p>
                                <hr class="del-card-ul del-card-item ">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col l3 s12 m6">
                                <h5 class="del-card-ul">Encapsulation: </h5>
                                <p class="card-mod">{{existing_source.type}}</p>
                                <hr class="del-card-ul del-card-item ">
                            </div>
                            <div class="col l3 s12 m6">
                                <h6 class="del-card-ul">Last used: </h6>
                                {% if existing_source.last_used != "" %}
                                    <p class="card-mod">{{existing_source.last_used}}</p>
                                {% else %}
                                    <p class="del-card-ul">&nbsp</p>
                                {% endif %}
                                <hr class="del-card-ul del-card-item ">
                            </div>
                            <div class="col l3 s12 m6">
                                <h6 class="del-card-ul">Used: </h6>
                                <p class="card-mod">{{ used_times}}</p>
                                <hr class="del-card-ul del-card-item ">
                            </div>
                            <div class="col l3 s12 m6">
                                <h6 class="del-card-ul">Security Group: </h6>
                                <p class="card-mod">{{existing_source.security_group}}</p>
                                <hr class="del-card-ul del-card-item ">
                            </div>
                        </div>
                        <div class="row input-pad">
                            <div class = "input-field col s12 m12 l12">
                                <a href="{{ url_for('del_source_conf', source_serial_no=existing_source.serial_number) }}"
                                class="btn-large deep-orange accent-3 lg-btn-add ">
                                    <i class="fas fa-trash-restore-alt"></i> Delete</a>
                                {% if session["routing"] == "inventory" %}    
                                    <a href="{{ url_for('get_sources') }}" class="lg-btn-add btn-large deep-green accent-3">
                                        <i class="fas fa-times-circle left"></i> Cancel</a>
                                {% else %}
                                    <a href="{{ url_for('delete_source') }}" class="lg-btn-add btn-large deep-green accent-3">
                                        <i class="fas fa-times-circle left"></i> Cancel</a>
                                {% endif %}
                            </div>   
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}