{% extends "base.html" %}
{% block content %}
<table class="tg">
  <thead>
    <tr>
      <th class="tg-c3ow" colspan="15">Results</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-phtq">USO</td>
      <td class="tg-phtq">Department</td>
      <td class="tg-phtq">Serial No.</td>
      <td class="tg-phtq">Isotope</td>
      <td class="tg-phtq">Laboratory</td>
      <td class="tg-phtq">Location</td>
      <td class="tg-phtq">Original Activity</td>
      <td class="tg-phtq">Date Activated</td>
      <td class="tg-phtq">Half life</td>
      <td class="tg-phtq">Ativity Now</td>
      <td class="tg-phtq">Type</td>
      <td class="tg-phtq">Acc</td>
      <td class="tg-phtq">Half life</td>
      <td class="tg-phtq">A/D value</td>
      <td class="tg-phtq">Security Group</td>
    </tr>
    <tr>
      <td class="tg-0pky">S333PH</td>
      <td class="tg-0pky">Physics</td>
      <td class="tg-dvpl">1:30</td>
      <td class="tg-dvpl">2:05</td>
      <td class="tg-dvpl">1:15</td>
      <td class="tg-dvpl">1:41</td>
    </tr>

  </tbody>
</table>
{% for source in sources %}
  {{ source.uso }}<br>
  {{ source.department }}<br>
  {{ source.serial_number }}<br>
  {{ source.isotope }}<br>
  {{ source.laboratory }}<br>
{% endfor %}

{% endblock %}