{% extends "base.html" %}
{% block content %}

<!--Add isotope type-->
<div class="row">
    <div class="col s12 m12 l10">
        <div class="card blue lighten-3">
            <div class="card-content black-text">
                <span class="card-title">Update Isotope Types</span>
                <div class="card white black-text">
                <form method="POST" action="{{ url_for("manage_isotopes") }}">
                    <div class="row">
                        <div class="input-field col s12 l6">
                            <input id="isotope" type="text" name="isotope"  class="validate">
                            <label for="isotope">Isotope</label>
                        </div>
                        <div class="input-field col s12 l6">
                          <input id="halflife" type="text" name="halflife" class="validate">
                          <label for="halflife">Half Life</label>
                      </div>
                    </div>
                    <div class="card-action">
                        <button class="btn-large deep-orange accent-3" name="action" type="submit" name="action">Submit
                            <i class="fas fa-cloud-upload-alt"></i>
                        </button>
                    </div>
                </form>
              </div>
            </div>
        </div>
    </div>
</div>

<!--Tabulate isotopes-->
<div class="row ">
    <div class="col s12 m12 l10 ">
      <div class="card blue lighten-3">
        <div class="card-content">
          <span class="card-title">Isotope Types</span>
          <table id="inventory" class="table table-striped table-bordered " style="width:100%">
            <thead>
              <tr>
                <th>Isotope</th>
                <th>Half Life</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for isotope in isotopes %} 
                  <tr>
                    <td>{{ isotope.isotope }}</td>
                    <td>{{ isotope.halflife }}</td>
                    <td>
                        <a href="{{ url_for('delete_isotope_resp', isotope_id=isotope._id) }}"
                          class="btn-small  teal lighten-2" tbl_btn_wd>Delete</a>
                    </td>    
                  </tr>
              {% endfor %}  
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>      
{% endblock %}