{% extends "base.html" %}
{% block content %}

<!--Delete isotope type-->
<div class="row">
  <div class="col s12 m12 l10 offset-l1">
    <div class="card blue lighten-3">
      <div class="card-content black-text">
        <span class="card-title">Delete Isotope</span>
        <div class="card white black-text">
          <div class="row">
            <div class="col l6 m6 s12">
              <h5 class="del-card-ul">Isotope: </h5>
              <p class="card-mod">{{existing_isotope.isotope}}</p>
              <hr class="del-card-ul del-card-item ">
            </div>
            <div class="col l6 m6 s12">
              <h5 class="del-card-ul">Half Life: </h5>
              <p class="card-mod">{{existing_isotope.halflife}} Years</p>
              <hr class="del-card-ul del-card-item ">
            </div>
            <div class="card-action col s12 l12 m12">
              <a href="{{ url_for('delete_isotope_resp', isotope=existing_isotope.isotope) }}"
                class="btn-large lg-btn-add deep-orange accent-3"><i class="fas fa-trash-restore-alt"></i> Delete</a>

              <a href="{{ url_for('manage_isotopes') }}" class="btn-large lg-btn-add deep-green accent-3"><i
                  class="fas fa-times-circle left"></i> Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}