{% extends "base.html" %}
{% block content %}

<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-image hide-on-med-and-down background">
      <!--Image provided by Sutterstock -->
      <img src="static/assets/isotope.jpg" alt="Radio active isotope" class="responsive">
    </div>
    <div class="card-stacked blue lighten-3">
      <div class="card-content black-text">
        <span class="card-title">Login</span>
        <div class="card white black-text">
          <form class="col s11" method="POST" action="{{ url_for('login') }}">
            <div class="row input-pad">
              <div class="input-field col s12 l9 m9">
                <!--regex first charater must be alpha-->
                <input id="email" type="email" name="email" class="validate"
                  pattern="^[A-Za-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{1,4}[^\\S]+$" required>
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row input-pad">
              <div class="input-field col s12 l9 m9">
                <!--Full password regex is complex and could take weeks to test!-->
                <input id="password" type="password" name="password" class="validate" minlength="2" maxlength="24"
                  required pattern="^[a-zA-Z0-9]{2-24}">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="card-action">
              <button class="btn-large light-blue darken-4" type="submit" name="action">Submit
                <i class="fas fa-cloud-upload-alt"></i>
              </button>
            </div>
          </form>
          <div class="row input-pad ">
            <div class="col s12 l12 m12">
              <p class="center-align reglog">
                New To The Department?
                <a href="{{ url_for('register') }}" class="dark-green-text text-darken-4">Register Your Account</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}