{% extends "base.html" %}
{% block content %}

<!-- Uses code snip from Code Institute Mini Project | Putting It All Together  Searching  Search Within The Database-->
<div class="row">
  <div class="col s12 m12 l10 offset-l1">
    <div class="card blue lighten-3">
      <div class="card-content black-text">
        {% if mode == "delete" %}
          <span class="card-title">Search All Sources For Deletion</span>
        {% elif mode== "update" %}
          <span class="card-title">Search All Sources To Update</span>
        {% else %}
          <span class="card-title">Search Inventory For Available Sources</span>
        {% endif %}
        <div class="card white black-text ">
          <div class="row center-align valign-wrapper">
            <div class="col s12 m12 l12 ">
              {% if mode == "delete" %}
                <form action="{{ url_for('delete_source') }}" method="post">
              {% elif mode== "update" %}
                <form action="{{ url_for('update_source') }}" method="post">
              {% else %}
                <form action="{{ url_for('source_request') }}" method="post">
              {% endif %}
                  <div class="row ">
                    <div class="input-field col s12 m6 l6">
                      <!--Query box taken from Code Institute Backend mini project-->
                      <i class="fas fa-search prefix light-blue-text text-darken-4 tooltipped" 
                      data-position="bottom" data-tooltip=" Search for a source by serial number, isotope, encapsulation, department, laboratory, half life or activity" ></i>
                      <input type="text" name="query" id="query" class="validate" required>
                      <label for="query">Search For a Source</label>
                    </div>


                    <div class="col s12 m6 l6">
                      <button type="submit" class="btn-large light-blue darken-4 lg-btn-add ">Find
                        <i class="fas fa-search left"></i>
                      </button>
                      {% if mode == "delete" %}
                        <a href="{{ url_for('delete_source') }}" class="btn-large deep-green accent-3 lg-btn-add">
                          <i class="fas fa-times-circle left"></i>Cancel</a>
                        {% elif mode== "update" %}
                        <a href="{{ url_for('update_source') }}" class="btn-large deep-green accent-3 lg-btn-add">
                          <i class="fas fa-times-circle left"></i>Cancel</a>
                        {% else %}
                          <a href="{{ url_for('source_request') }}" class="btn-large deep-green accent-3 lg-btn-add">
                          <i class="fas fa-times-circle left"></i>Cancel</a>
                      {% endif %}
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if showsources == "true" and sources|length >0 %}
<div class="row">
  <div class="row hide-on-med-and-down show-on-large">
    <div class="col s12 m10 offset-l1">
      <div class="card blue lighten-3">
        <div class="card-content">
          <span class="card-title">Select From Available Sources</span>
          <!--Used for Requesting Deleting and Updating Sources-->
          <!--Same data presented to the user in each case but for different purpose-->
          <!--Table for wide screen devices-->
          <table id="inventory" class="display tblwd">
            <thead>
              <tr>
                <th>Dept.</th>
                <th>Serial No.</th>
                <th>Isotope</th>
                <th>Lab</th>
                <th>Location</th>
                <th>Original Activity</th>
                <th>Date Activated</th>
                <th>Half life</th>
                <th>Ativity Now</th>
                <th>Type</th>
                {% if mode == "update" %}
                  <th>Update</th>
                {% elif mode == "delete" %}
                  <th>Delete</th>
                {% else %}
                  <th>Request</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for source in sources %}
              <tr>
                <td>{{ source.department }}</td>
                <td>{{ source.serial_number }}</td>
                <td>{{ source.isotope }}</td>
                <td>{{ source.laboratory }}</td>
                <td>{{ source.location }}</td>
                <td>{{ source.original_activity }} {{source.original_activity_units}}</td>
                <td>{{ source.activation_date }}</td>
                <td>{{ source.half_life }} {{source.half_life_units}}</td>
                <td>{{ source.activity_now }} {{source.activity_now_units}}</td>
                <td>{{ source.type }}</td>
                {% if mode == "update" %}
                  <td>
                    <a href="{{ url_for('update_source_resp', source_serial_no=source.serial_number) }}"
                      class="btn-small  light-blue darken-4 sm-btn-add">Update
                    </a>
                  </td>
                {% elif mode == "delete" %}
                <td>
                  <a href="{{ url_for('delete_source_resp', source_serial_no=source.serial_number) }}"
                    class="btn-small  deep-orange accent-3 sm-btn-add">Delete
                  </a>
                </td>
                {% else %}
                  {% if source.requested == "false" %}
                  <td>
                    <a href="{{ url_for('req_source_conf', source_serial_no=source.serial_number) }}"
                      class="btn-small  teal lighten-2 sm-btn-add">Request
                    </a>
                  </td>
                  {% endif %}
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--Collapsible for medium and small screen devices-->
  <div class="row hide-on-large-only">
    <div class="col s12 m12">
      <div class="card blue lighten-3">
        <div class="card-content black-text ">
          <span class="card-title">Available Inventory</span>
          <ul class="collapsible ">
            {% for source in sources %}
            <li>
              <div class="collapsible-header white-text blue indigo darken-2 ">
                <div class="row">
                  <div class="col s1 m1">
                    <i class="fas fa-caret-down"> </i>
                  </div>
                </div>
                <div class="col s5 m3">
                  <strong> Isotope: </strong>
                  <p>{{ source.isotope }}</p>
                </div>
                <div class="col s6 m8">
                  <strong>Serial Number:</strong>
                  <p>{{ source.serial_number }}</p>
                </div>
              </div>
              <div class="collapsible-body">
                <div class="row">
                  <div class="col s6 m3">
                    <strong>Department: </strong>
                  </div>
                  <div class="col s6 m9">
                    <p>{{ source.department }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col s6 m3">
                    <strong>Laboratory: </strong>
                  </div>
                  <div class="col s6 m9">
                    <p>{{ source.laboratory }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col s6 m3">
                    <strong>Location: </strong>
                  </div>
                  <div class="col s6 m9">
                    <p>{{ source.location }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col s6 m3">
                    <strong>Original Activity: </strong>
                  </div>
                  <div class="col s6 m9">
                    <p>{{ source.original_activity }} {{source.original_activity_units}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col s6 m3">
                    <strong>Date Activated: </strong>
                  </div>
                  <div class="col s6 m9">
                    <p>{{ source.activation_date }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col s6 m3">
                    <strong>Half life: </strong>
                  </div>
                  <div class="col s6 m9">
                    <p>{{ source.half_life }} {{source.half_life_units}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col s6 m3">
                    <strong>Ativity Now: </strong>
                  </div>
                  <div class="col s6 m9">
                    <p>{{ source.activity_now }} {{ source.activity_now_units }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col s6 m3">
                    <strong>Type: </strong>
                  </div>
                  <div class="col s6 m9">
                    <p>{{ source.type }}</p>
                  </div>
                </div>
                <div class="row">
                  {% if mode == "update" %}
                    <div class="col s6 m3">
                      <strong>Update: </strong>
                    </div>
                    <div class="col s6 m9">
                      <a href="{{ url_for('update_source_resp', source_serial_no=source.serial_number) }}"
                        class="btn-small  light-blue darken-4 sm-btn-add ">Update
                      </a>
                    </div>
                  {% elif mode == "delete" %}
                    <div class="col s6 m3">
                      <strong>Delete: </strong>
                    </div> 
                    <div class="col s6 m9">
                      <a href="{{ url_for('delete_source_resp', source_serial_no=source.serial_number) }}"
                        class="btn-small  deep-orange accent-3 sm-btn-add ">Delete
                      </a>
                    </div>
                {% else %}
                  {% if source.requested == "false" %}
                    <div class="col s6 m3">
                      <strong>Request: </strong>
                    </div> 
                    <div class="col s6 m9">
                    <a href="{{ url_for('req_source_conf', source_serial_no=source.serial_number) }}"
                      class="btn-small  teal lighten-2  sm-btn-add">Request
                    </a>
                    </div>
                {% endif %}
              {% endif %}
        </div>
              </div>
            </li>
      {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}