
{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m12 l10 offset-l1">
        <div class="card blue lighten-3">
            <div class="card-content black-text"> 
                <span class="card-title">Update Source</span>    
                <form method="POST" action="{{ url_for('update_source_activate')}}" id="update_source_activate" class="form-horizontal">
                    <!--Build up form row by row--> 
                    <div class="card white black-text">
                        <div class="row input-pad">
                            <div class="input-field col l3 m6 s12">
                                <input id="serial_number" name="serial_number" type="text" class="validate " readonly  
                                value ="{{existing_source.serial_number}}">
                                <label for="serial_number" class="card-bold">Serial Number:</label>
                            </div>

                            <div class="input-field col l3 m6 s12" >
                                <select id="department" name="department" class="validate" >
                                    <option value="{{ existing_source.department }}" selected>{{ existing_source.department }}</option>
                                    {% for department in departments %}
                                        <option value="{{ department.department }}">{{ department.department }}</option>
                                    {% endfor %}
                                </select>
                                <label for="department" class="card-bold">Department:</label>
                            </div>
                            <div class="input-field col l3 m6 s12">
                                <select id="laboratory" name="laboratory" class="validate">
                                    <option value="{{ existing_source.laboratory }}" selected>{{ existing_source.laboratory }}</option>
                                    {% for laboratory in laboratories %}
                                        <option value="{{ laboratory.laboratory }}">{{ laboratory.laboratory }}</option>
                                    {% endfor %}
                                </select>
                                <label for="laboratory" class="card-bold" >Laboratory:</label>
                            </div>
                        
                            <div class="input-field col l3 m6 s12" >
                                <select id="location" name="location" class="validate">
                                    <option value="{{ existing_source.location }}" selected>{{ existing_source.location }}</option>
                                {% for location in locations %}
                                    <option value="{{ location.location }}">{{ location.location }}</option>
                                {% endfor %}
                                    </select>
                                <label for="location" class="card-bold">Location:</label>          
                            </div>
                        </div>

                        <div class="row input-pad">
                            <div class="input-field col l3 m6 s12" >
                                <select id="isotope" name="isotope" class="validate" >
                                    <option value="{{ existing_source.isotope }}" selected>{{ existing_source.isotope }}</option>
                                {% for isotope in isotope_category %}
                                    <option value="{{ isotope.isotope }}">{{ isotope.isotope }}</option>
                                {% endfor %}
                                    </select>
                                <label for="isotope" class="card-bold">Isotope:</label>                      
                            </div>
                                <div class="input-field col l3 s8 m4">
                                    <input id="original_activity" name="original_activity" type="text" class="validate" 
                                    pattern="^[0-9.]{2,}[0-9]{1,}$" value= "{{existing_source.original_activity}}">
                                    <label for="original_activity" class="card-bold" >Original Activity:</label>
                                </div>
                                <div class="input-field col l2 s4 m2">
                                    <p>
                                        <label>
                                            <input name="original_activity_units" type="radio" value="kBq"
                                            {% if existing_source.original_activity_units == "kBq" %}
                                                checked
                                            {% endif %}/>
                                            <span>kBq</span>
                                        </label>
                                        <label>
                                            <input name="original_activity_units" value="MBq" type="radio"
                                            {% if existing_source.original_activity_units == "MBq" %}
                                                checked  value="kBq"
                                            {% endif %}/>
                                            <span>MBq</span>
                                        </label>
                                    </p>
                                </div>  
                            <div class="input-field col l3 s12 m6">
                                <input type="text" id="activation_date" name="activation_date" 
                                class="datepicker"  value= "{{existing_source.activation_date}}">
                                <label for="activation_date" class="card-bold" >Activation Date:</label>
                            </div>
                        </div>

                        <div class="row input-pad ">
                            <div class="input-field col l4 m6 s12">
                                <select id="encapsulation" name="encapsulation" class="validate">
                                <option value="{{ existing_source.type }}"  selected>{{ existing_source.type }}</option>
                                {% for encapsulation in encapsulations %}
                                    <option value="{{ encapsulation.encapsulation }}">{{ encapsulation.encapsulation }}</option>
                                {% endfor %}
                                </select>
                                <label for="encapsulation" class="card-bold">Encapsulation:</label>
                            </div>

                            <div class="input-field col s12 m6 l4">
                                <select id="security_group" name="security_group" class="validate">
                                    <option value="{{ existing_source.security_group }}"  selected>{{ existing_source.security_group }}</option>
                                    {% for security_code in security_codes %}
                                        <option value="{{ security_code.security_code }}">{{ security_code.security_code }}</option>
                                    {% endfor %}
                                </select>
                                <label for="security_group" class="card-bold" >Security Group:</label>
                            </div>
                        </div>
                        <div class="row input-pad">
                            <div class = "input-field col s12 m12 l6">   
                                <button class="btn-large light-blue darken-4 lg-btn-add" type="submit" name="action">
                                    <i class="fas fa-cloud-upload-alt"></i> Update
                                </button>
                                {% if session["routing"] == "inventory" %}
                                    <a href="{{ url_for('get_sources') }}"
                                    class="btn-large deep-green accent-3 lg-btn-add"><i class="fas fa-times-circle left"></i> Cancel</a>
                                {% else %}
                                    <a href="{{ url_for('update_source') }}"
                                    class="btn-large deep-green accent-3 lg-btn-add"><i class="fas fa-times-circle left"></i> Cancel</a>
                                {% endif %}
                            </div> 
                        </div>
                    </div>
                </form>       
            </div>
        </div>
    </div>
</div>
{% endblock %}