{% extends "base.html" %}
{% block content %}
<h1>Approve , Delete, Manage user access rights</h1>
<div class="tg-wrap">
    <table class="tg" id="tg-6QsDT">
        <thead>
            <tr>
                <th class="tg-c3ow" colspan="16">Radio Isotope Inventory</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tg-ul38">First name</td>
                <td class="tg-ul38">Last name</td>
                <td class="tg-ul38">Email</td>
                <td class="tg-ul38">Department</td>
                <td class="tg-ul38">Research group</td>
                <td class="tg-ul38">Approved</td>
                <td class="tg-ul38">Role</td>
            </tr>
            {% set cycle = 'odd' %}
            {% for user in users %}
                {% if cycle == 'odd' %}
                    <tr>
                        <td class="tg-hmp3">{{ user.first }}</td>
                        <td class="tg-hmp3">{{ user.last }}</td>
                        <td class="tg-hmp3">{{ user.email }}</td>
                        <td class="tg-hmp3">{{ user.department }}</td>
                        <td class="tg-hmp3">{{ user.research_group }}</td>
                        <td class="tg-hmp3">
                        <!-- Switch -->
                            <div class="switch">
                                <label>
                                    No
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                    Yes
                                </label>
                            </div>
                        </td>
                        <td class="tg-hmp3">
                        <!-- Switch -->
                            <div class="switch">
                                <label>
                                    User
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                    Admin
                                </label>
                            </div>
                        </td>



                    </tr>
                    {% set cycle = 'even' %}
                {% else %}
                    <tr>
                        <td class="tg-0lax">{{ user.first }}</td>
                        <td class="tg-0lax">{{ user.last }}</td>
                        <td class="tg-0lax">{{ user.email }}</td>
                        <td class="tg-0lax">{{ user.department }}</td>
                        <td class="tg-0lax">{{ user.research_group }}</td>
                        <td class="tg-hmp3">
                        <!-- Switch -->
                            <div class="switch">
                                <label>
                                    No
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                    Ye
                                </label>
                            </div>
                        </td>
                        <td class="tg-hmp3">
                        <!-- Switch -->
                            <div class="switch">
                                <label>
                                    User
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                    Admin
                                </label>
                            </div>
                        </td>
                    </tr>
                    {% set cycle = 'odd' %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}